<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div class="clearfix">
                    <h4 class="card-title float-left">Agendamento</h4>
                </div>
                <full-calendar #calendar [options]="calendarOptions" deepChangeDetection="true" (eventMouseOver)="mouseOver($event)"></full-calendar>
            </div>
        </div>
    </div>
</div>