<div class="row">
  <div class="col-md-4" *ngIf="isLoading"></div>
  <div class="col-md-2" *ngIf="isLoading">
    <img src="assets/images/carregando50.gif">
  </div>

  <div class="col-md-12 grid-margin stretch-card" *ngIf="!isLoading">
      <div class="card">
          <div class="card-body">
              <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                  </div>
              </div>
              <div class="clearfix">
                  <h4  class="card-title float-left">{{title}} - Cadastro</h4>
                  <div class="float-right">
                    <button type="button" class="btn btn-inverse-info btn-sm" (click)="back()">X</button>
                  </div>
              </div>
              
              <form #formPerson="ngForm">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Nome*</label>
                        <input type="text" class="form-control" [(ngModel)]="person.name"  name="name"  required >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Nome Fantasia*</label>
                        <input type="text" class="form-control" [(ngModel)]="person.tradeName"  name="tradeName"  required >
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cliente">Tipo Pessoa*</label>
                            <select id="personType" class="form-control" [(ngModel)]="person.personType" name="personType">
                                  <!-- <option [ngValue]="nullValue" selected>Selecione um tipo</option> -->
                                  <option value="FISICA">Física</option>
                                  <option value="JURIDICA">Jurídica</option>
                            </select>
                        </div>
                     </div>
                     <div class="col-md-3">
                      <div class="form-group">
                          <label for="cnpjCpf">{{person.personType == 'FISICA' ? 'CPF' : 'CNPJ'}}*</label>
                          <input type="text" class="form-control" [(ngModel)]="person.cnpjCpf"  name="cnpjCpf"  id="cnpjCpf" 
                                 mask="{{person.personType == 'FISICA' ? '000.000.000-00' : '00.000.000/0000-00'}}" required >
                     </div>
                    </div>
                     <div class="col-md-3">
                       <div class="form-group">
                           <label for="phone">Fone*</label>
                           <input type="text" class="form-control" [mask]="maskPhone(person.phone)" [(ngModel)]="person.phone"  name="phone"  required >
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="email">Cep*</label>
                          <input type="text" class="form-control" [(ngModel)]="person.address.zipcode"  
                                 mask="00000-000" name="zipcode"  (blur)="getCep(person)" required >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="phone">Logradouro*</label>
                          <input type="text" class="form-control" [(ngModel)]="person.address.street"  name="street"  required >
                     </div>
                    </div>
                     <div class="col-md-2">
                       <div class="form-group">
                           <label for="phone">Número*</label>
                           <input type="text" class="form-control" [(ngModel)]="person.address.streetNumber"  name="streetNumber"  required >
                       </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="phone">Bairro*</label>
                          <input type="text" class="form-control" [(ngModel)]="person.address.neighborhood"  name="neighborhood"  required >
                      </div>
                   </div>
                   <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">Cidade*</label>
                        <input list="id-city" id="city" class="form-control" [(ngModel)]="citySearch"  name="citySearch"  (change)="getCityByName()" required >
                        <datalist id="id-city">
                          <option *ngFor="let city of citys">{{city.description}}-{{city.state.initials}}</option>
                        </datalist>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Complemento</label>
                        <input type="text" class="form-control" [(ngModel)]="person.address.complement"  name="complement">
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                      <label for="phone">E-mail</label>
                      <input type="text" class="form-control" [(ngModel)]="person.email"  name="email" >
                  </div>
               </div>
                </div>
                <button (click)="back()" class="btn btn-light mr-2">Cancelar</button>
                <button type="submit" (click)="create()" class="btn btn-inverse-info"  [disabled]="formPerson.invalid" >Criar Agendamento</button>
            </form>

          </div>
      </div>
  </div>
</div>