<div class="card">
    <div class="modal-header">
        <h5 class="modal-title">Agendamento</h5>
        <button type="button" (click)="modalRef.hide()" class="close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <app-input-container class="col-md-6" label="Dia">
                    <input formControlName="startDate" name="startDate" type="date" class="form-control" id="dia"
                        placeholder="Dia">
                </app-input-container>
                <app-input-container class="col-md-3" label="Hora">
                    <input formControlName="hour" type="time" class="form-control" id="hora" placeholder="Hora">
                </app-input-container>
                <app-input-container class="col-md-3" label="Permanência">
                    <input formControlName="time" type="number" class="form-control" id="cliente"
                        placeholder="Em minutos">
                </app-input-container>
                <ng-container class="row" formGroupName="person">
                    <app-input-container class="col-md-4" label="CPF">
                        <input formControlName="cnpjCpf" [mask]="'000.000.000-00'" type="text" class="form-control"
                            id="cliente" placeholder="CPF">
                    </app-input-container>
                    <app-input-container class="col-md-8" label="Nome">
                        <input formControlName="name" type="text" class="form-control" id="cliente"
                            placeholder="Cliente">
                    </app-input-container>
                    <app-input-container class="col-md-6" label="Telefone">
                        <input formControlName="phone" [mask]="'(00) 0 0000-0000'" type="text" class="form-control"
                            id="phone" [validation]="true" placeholder="Telefone">
                    </app-input-container>
                    <app-input-container class="col-md-6" label="Email">
                        <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">
                    </app-input-container>
                </ng-container>
                <app-input-container class="col-md-12" label="Observações">
                    <textarea formControlName="note" rows="3" class="form-control"></textarea>
                </app-input-container>
            </div>
            <div class="row">
                <div [ngClass]="{'col-md-12': !id, 'col-md-8': id }">
                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                </div>
                <div class="col-md-4">
                    <button (click)="delete()" type="button" *ngIf="id" class="btn btn-danger btn-block">Excluir
                        Agendamento</button>
                </div>
            </div>
        </form>
    </div>
</div>