<div style="text-align: right; height: 20px; color: #2199e8;">
    <label class="x-samll" (click)="setItemsPerPage(10)" [ngClass]="paint(10)">10-</label>
    <label class="x-samll" (click)="setItemsPerPage(50)" [ngClass]="paint(50)">50-</label>
    <label class="x-samll" (click)="setItemsPerPage(100)" [ngClass]="paint(100)">100-</label>
    <label class="x-samll" (click)="setItemsPerPage(200)"  [ngClass]="paint(200)">200</label>
</div>
  