<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/calendar']" >
                <span class="menu-title">Calendario</span>
                <i class="mdi mdi-calendar menu-icon"></i>
            </a>
            <a class="nav-link" [routerLink]="['/company']" >
                <span class="menu-title">Empresa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
            <a class="nav-link" [routerLink]="['/person/client']" >
                <span class="menu-title">Cliente</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
            <a class="nav-link" [routerLink]="['/person/provider']" >
                <span class="menu-title">Fornecedor</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>