.padging-left{
    padding-left: 15px;
}

.table-response{
    overflow: auto;
    position: sticky;
}

.table50{
    height: 50vh;
    border: 1px solid #ccc;
}

.msg-error{
    background-color: brown;
}

.msg-success{
    background-color: rgb(42, 165, 58);
}