<div class="row">
  <div class="col-md-4" *ngIf="isLoading"></div>
  <div class="col-md-2" *ngIf="isLoading">
    <img src="assets/images/carregando50.gif">
  </div>
</div>
<div *ngIf="!isLoading"> 
  <div class="row padging-left" >
    <button type="button" class="btn btn-inverse-info btn-sm" (click)="create()">Novo</button>
    <button type="button" class="btn btn-inverse-info btn-sm" (click)="edit()" [disabled]="!rowSelected">Editar</button>
    <button type="button" class="btn btn-inverse-danger btn-sm" (click)="callRemove()"  [disabled]="!rowSelected">Remover</button>
    
  </div>
    <input class="form-control" placeholder="Pesquisar..."  [(ngModel)]="filter" (ngModelChange)="changeFilter(filter)" name="filter">
   
    <!-- <div class="col-offset-10 col-2"> -->
      <app-view-total-page [listaFiltro]="profileFilter" (rated)="setItensPerPag($event)" (ratedPag)="Paginacao($event)"></app-view-total-page>
    <!-- </div> -->
  
  <div class="box-body " >
        <div class="table-response table50">
          <table class="table table-striped" >
          <thead>
            <tr>
              <th (click)="setOrder('nr')">
                <div style="width: 110px;">
                    <a >
                        Nr
                        <i *ngIf="field == 'nr' && !reverse" class="mdi mdi-chevron-down"></i>
                        <i *ngIf="field == 'nr' && reverse" class="mdi mdi-chevron-up"></i>
                        
                    </a>
                </div>
              </th>
              <th (click)="setOrder('name')">
                <div style="width: 110px;">
                    <a >
                        Nome
                        <i *ngIf="field == 'name' && !reverse" class="mdi mdi-chevron-down"></i>
                        <i *ngIf="field == 'name' && reverse" class="mdi mdi-chevron-up"></i>
                    </a>
                </div>
              </th>
              <th (click)="setOrder('nameTrade')">
                <div style="width: 110px;">
                    <a >
                      Nome Fantasia
                      <i *ngIf="field == 'nameTrade' && !reverse" class="mdi mdi-chevron-down"></i>
                      <i *ngIf="field == 'nameTrade' && reverse" class="mdi mdi-chevron-up"></i>
                    </a>
                </div>
              </th>
              <th (click)="setOrder('cnpjCpf')">
                <div style="width: 110px;">
                    <a >
                      Cnpj/Cpf
                      <i *ngIf="field == 'cnpjCpf' && !reverse" class="mdi mdi-chevron-down"></i>
                      <i *ngIf="field == 'cnpjCpf' && reverse" class="mdi mdi-chevron-up"></i>
                    </a>
                </div>
              </th>
              <th (click)="setOrder('email')">
                <div style="width: 110px;">
                    <a >
                      Email
                      <i *ngIf="field == 'email' && !reverse" class="mdi mdi-chevron-down"></i>
                      <i *ngIf="field == 'email' && reverse" class="mdi mdi-chevron-up"></i>
                    </a>
                </div>
              </th>
              <th (click)="setOrder('phone')">
                <div style="width: 100px;">
                    <a >
                      Fone
                      <i *ngIf="field == 'phone' && !reverse" class="mdi mdi-chevron-down"></i>
                      <i *ngIf="field == 'phone' && reverse" class="mdi mdi-chevron-up"></i>
                    </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of listPersonFilter | orderBy :  field : reverse | paginate: { itemsPerPage: itemsPerPage, currentPage: p}" 
            (click)="selectRow(c)" [ngClass]="paintTable(c)">
              <td> {{c.nr}} </td>
              <td> {{c.name}} </td>
              <td> {{c.tradeName}} </td>
              <td> {{c.cnpjCpf}} </td>
              <td> {{c.email}} </td>
              <td> {{c.phone | mask:'(00) 0000-0000'}} </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div style="text-align: center">
        <pagination-controls (pageChange)="p = $event" autoHide="false" previousLabel=""  nextLabel=""></pagination-controls>
    </div>
    
  </div>
</div>


<ng-template #modalConfirmation id="modalConfirmation">
  <div class="modal-header">
      <h4 class="modal-title pull-left">Atenção</h4>
  </div>
  <div class="modal-body text-center">
      <p>{{msgModal}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light mr-2" (click)="modalRef.hide()">Não</button>
    <button type="button" class="btn btn-inverse-info" (click)="remove()">Sim</button>
  </div>
</ng-template>
